@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e6e6e6;
  color: #fff;
  font-family: var(--font-poppins), sans-serif;
}

#root,
#__next {
  height: 100%;
}